.history__card_list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-gap));

  @media screen and (min-width: 1200px) {
    margin-left: calc(-1 * var(--card-gap));
  }
}

.history__card_item {
  display: inline-flex;
  align-items: flex-start;

  flex-basis: 100%;

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 2 - 1 * var(--card-gap));
    margin-left: var(--card-gap);
  }

  margin-top: var(--card-gap);
}

.history__pic {
  width: 20%;
  margin-right: 10px;
}

.history__text {
  text-align: justify;
  @include font(14px, 500, 20px, 0.03em);
  width: 80%;
}

.history__card_item-double {
  flex-direction: column;
}

.history__card_div {
  display: flex;
  align-items: flex-start;
}

.history__card_div:not(:last-child) {
  margin-bottom: 10px;
}

.history__text_accent {
  @include font(14px, 700, 20px, 0.03em);
}

.history__name {
  display: inline-block;
  margin-top: 5px;

  @include font(10px, 400, 20px, 0.03em);

  @media screen and (min-width: 768px) {
    @include font(12px, 400, 20px, 0.03em);
  }
}

.history__pic_container {
  padding-right: 10px;
  width: 20%;
}

.history__pic_1 {
  width: 100%;
}

.history__main {
  position: relative;
}

.history__main::after {
  width: 70vw;
  height: 70vh;
  position: absolute;
  bottom: 0;
  right: 0;

  content: '';
  background-image: url('../images/saturn_bkg.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 50%;
  z-index: -5;
}
