:root {
  --header-bkg-color: #000;
  --text-color-dark: #3b3b3b;
  --light-bkg-color: #f0f0f0;
  --second-bck-color: #999999;
  --accent-color: #5954f0;
  --footer-bkg-color: #03091a;
  --socials-color: #516dc4;
  --mobile-menu-color: #c1c2c7;
  --section-bkg-color: #e8e8ff;
  --card-gap: 30px;
}
